/terraform/gogo-rest/environments/dev/.terraform.lock.hcl
/terraform/gogo-rest/environments/dev/terraform.tfstate
/terraform/gogo-rest/environments/dev/terraform.tfstate.1702748646.backup
/terraform/gogo-rest/environments/dev/terraform.tfstate.backup
/terraform/gogo-rest/environments/dev/.terraform/
